<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melec.android_to_mysql_with_php.main" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.melec.android_to_mysql_with_php.main.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.melec.android_to_mysql_with_php.main.DashBoardActivity"
            android:label="@string/title_activity_dash_board" >
        </activity>
    </application>

</manifest>
